Source: opsipxeconfd
Section: opsi
Priority: optional
Maintainer: uib GmbH <info@uib.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: opsipxeconfd
Section: opsi
Architecture: all
Depends: opsi-atftpd, python-opsi (>=3.4.99), opsi-linux-bootimage
Replaces: opsi-reinstmgr
Conflicts: opsi-reinstmgr
Provides: opsi-reinstmgr
Description: OPSI PXE configuration daemon
 This package contains the OPSI PXE configuration daemon.