[Unit]
Description=opsi PXE configuration service
After=opsiconfd.service
After=winbind.service

[Service]
Type=forking
ExecStart=/usr/bin/opsipxeconfd start
Restart=always
RestartSec=5
KillMode=process
TimeoutStopSec=15
PIDFile=/run/opsipxeconfd/opsipxeconfd.pid
ExecStartPre=-/bin/mkdir -p /run/opsipxeconfd
ExecStartPre=-/bin/chgrp opsiadmin /run/opsipxeconfd
ExecStartPre=-/bin/chmod 770 /run/opsipxeconfd

[Install]
WantedBy=multi-user.target
