[Unit]
Description=Opsi PXE Configuration Service
After=mysql.service
After=smbd.service
After=opsiconfd.service
Wants=isc-dhcp-server.service
Wants=mysql.service
Wants=smbd.service

[Service]
Type=forking
ExecStart=/usr/bin/opsipxeconfd start
Restart=always
RestartSec=5
KillMode=process
TimeoutStopSec=15
PIDFile=/run/opsipxeconfd/opsipxeconfd.pid
ExecStartPre=-/bin/mkdir -p /run/opsipxeconfd
ExecStartPre=-/bin/chgrp opsiadmin /run/opsipxeconfd
ExecStartPre=-/bin/chmod 770 /run/opsipxeconfd

[Install]
WantedBy=multi-user.target
