[Unit]
Description=Opsi PXE Configuration Service
After=mysql.service
After=smbd.service
Wants=isc-dhcp-server.service
Wants=mysql.service
Wants=smbd.service

[Service]
Type=forking
ExecStart=/usr/bin/opsipxeconfd start
Restart=always
RestartSec=10
KillMode=process
TimeoutStopSec=15
PIDFile=/var/run/opsipxeconfd/opsipxeconfd.pid
ExecStartPre=-/bin/mkdir /var/run/opsipxeconfd

[Install]
WantedBy=multi-user.target
